:root{
    font-family: monospace, sans-serif;
    text-align: center;
    box-sizing: border-box;
    width: 95%;
    border: solid #ff000031 6px;
    padding: 0;
    background-repeat: no-repeat;
    margin: auto;

}
body{
    background-color: rgba(0, 0, 0, 0.116);
    align-content: baseline-position;
    color: rgba(255, 255, 255, 0.37);
}
p{
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px; 
    line-height: 28px; 
    margin: 0 0 48px; 
}
h3{
    color: #000000; 
    font-family: 'Trocchi', serif; 
    font-size: 23px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
}
.shrimpdaddy{
    color: #b48608; 
    font-family: 'Droid serif', serif; 
    font-size: 36px; 
    font-weight: 400; 
    font-style: italic; 
    line-height: 44px; 
    margin: 0 0 12px; 
    text-align: center;
}
.pandp{
    color: #4241412d; 
    font-family: 'Julius Sans One' sans-serif; 
    font-size: 22px; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 0 0 24px; 
    text-shadow: 1px 1px 1px #082b34;
}